:root {
  --white: #ffffff;
  --white-smoke: #f4f4f4;
  --electric-indigo: #6a0bff;
  --han-purple: #5533ff;
  --purple-heart: #5509cc;
  --black-currant: #18003e;

  /**Text*/
  --nero: #191919;
  --suva-grey: #8c8c8c;
}
