.Wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.specList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-height: 1000px;
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
}
